<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />
    <title>Taliaa Tauatolo | Software Engineer</title>
  </head>
  <body>
    <header>
      About Experience Projects Contact
      <a href="/Taliaa-Tauatolo-Resume.pdf" target="_blank">RESUME</a>
    </header>
    <!-- RESUME -->
    <!-- PDF uploaded link -->

    <!-- INTRO -->
    <div class="main-container">
      <section class="hero">
        <span class="hero__hi">Hi my name is</span>
        <h1 class="hero__name">Taliaa Tauatolo</h1>
        <p>brief summary</p>
        <a href="mailto:taliaadev@gmail.com">Get in touch</a>
      </section>
      <!-- ABOUT -->
      <section>
        Who I am. Where I'm from. What I enjoy. What I like about developing.
        What I'm good at. My backstory, schooling, what I've been doing
        recently.
      </section>
      <!-- SKILLS -->
      <section>
        Skills with technology, languages, etc.
      </section>
      <!-- EXPERIENCE -->
      <section>
        Rolls-Royce
      </section>
      <!-- WORK -->
      <section class="projects">
        Featured Projects Other Projects
      </section>
      <!-- CONTACT -->
      <section>
        <a href="mailto:taliaadev@gmail.com">Get in touch</a>
      </section>
    </div>
  </body>
</html>
