*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: rgb(255, 230, 253);
  margin: 0px 0px 10px;
}

::selection {
  background-color: #ac41b6;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #160f1d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #090a0f;
}

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-background-image: radial-gradient(
    to right bottom,
    #161529,
    rgb(10, 25, 47)
  );
  background: radial-gradient(ellipse at bottom, #240c27 0%, #090a0f 100%);
  color: rgb(136, 146, 176);
  line-height: 1.3;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  margin: 0px;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

section {
  margin: 0 auto;
  max-width: 1100px;
}

.section-title {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  margin: 10px 0px 40px;
}

.section-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  /* max-width: 400px; */
  background-color: #cb8cd1;
  position: relative;
  top: -5px;
  margin-left: 20px;
  background: linear-gradient(
    90deg,
    rgba(249, 179, 255, 0.637) 40%,
    transparent 40%
  );
  background-size: 200% 4px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #ac41b6);
  /* background: linear-gradient(
    90deg,
    rgba(255, 177, 105, 0.637) 40%,
    transparent 40%
  );
  filter: drop-shadow(0 0 8px #b68341); */
}

.nav__navContainer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #160f1d3f;
  z-index: 11;
  width: 100%;
  height: 70px;
  box-shadow: none;
  transform: translateY(0px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  /* padding: 0px 50px; */
  /* transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; */
  /* backdrop-filter: blur; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); */
  -webkit-transform: translateX(0);
}

@media (max-width: 56.25em) {
  .nav__navContainer {
    padding: 0;
    width: 100%;
  }
}

.nav__navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: rgb(204, 214, 246);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  counter-reset: item 0;
  z-index: 12;
  padding: 0 50px;
}

.nav__Logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.social__social-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  color: rgba(168, 178, 209, 0.5);
  z-index: 10;
}

.social__social-items-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.social__social-items-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 250px;
  background-color: rgba(168, 178, 209, 0.5);
  margin: 0px auto;
}

.social__list-item {
  margin-bottom: 30px;
}

.social__social-link {
  padding: -15px;
  margin-bottom: 50px;
}

.social__social-link:hover,
#up:hover {
  color: #ac41b6;
  cursor: pointer;
}

.social__social-link i {
  /* vertical-align: middle; */
  margin-left: 0;
  transition: all 0.3s;
}

.social__social-link i:hover {
  transform: translateY(-0.2rem);
}

#up {
  margin-left: -1px;
}

.email__email-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  color: rgb(168, 178, 209);
  z-index: 10;
}

.email__email-container div {
  width: 100%;
  margin: 0px auto;
}

.email__emailLinkWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.email__emailLink {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
  transition: all 0.3s;
}

.email__emailLink:hover {
  color: #ac41b6;
  cursor: pointer;
  transform: translateY(-0.2rem);
}

.email__emailLinkWrapper::after {
  content: "";
  display: block;
  width: 1px;
  height: 135px;
  background-color: rgb(168, 178, 209);
  margin: 0px auto;
}

@media (max-width: 56.25em) {
  .email__email-container {
    display: none;
  }

  .social__social-container {
    display: none;
  }
  .nav__links a:not(:last-child) {
    display: none;
  }
}

.btn {
  border: 2px solid #ac41b6;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 56.25em) {
  .nav__links {
    /* margin: 0 auto; */
  }
}

.nav__links a {
  font-size: 14px;
  transition: color 0.2s;
}

.nav__links a:not(:last-child) {
  padding: 0 7px;
}

.nav__links a:not(:last-child):hover {
  color: #ac41b6;
}
@media (max-width: 56.25em) {
  .resume-link {
    left: 20px;
  }
}

.btn:hover {
  /* background-color: hsla(295, 47%, 48%, 0.153); */
  background-image: linear-gradient(
    to right bottom,
    rgba(186, 60, 197, 0.2),
    rgba(57, 8, 61, 0.2)
  );
}

.main-container {
  width: 100%;
  counter-reset: section 0;
  margin: 0px auto;
  /* padding: 0px 150px; */
}

@media (max-width: 56.25em) {
  .main-container {
    padding: 0 15px;
  }
}

.hero-bg {
  /* background-color: #330033; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' opacity='0.3' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 600px;

  /* height: 100%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.hero__hi {
  color: #ac41b6;
}

.hero {
  padding: 150px 0;
  animation: moveInLeft 0.7s ease-out;
}

.hero__name {
  font-size: 80px;
  color: white;
  line-height: 80px;
}

.hero__sub {
  color: rgba(255, 255, 255, 0.514);
  font-size: 60px;
}

.hero__subtext {
  /* margin-bottom: 70px; */
  margin-top: 25px;
  max-width: 500px;
  margin-bottom: 50px;
}

.hero__btn {
  /* margin-top: 50px; */
}

.about {
  max-width: 1000px;
  position: relative;
  margin: 0px auto;
  padding: 110px 0px 150px;
}

.about__content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  position: relative;
  z-index: 2;
  background-color: #1c1c32;
  color: rgb(168, 178, 209);
  background-color: #1f1528ce;
  font-size: 18px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 55px;
  border-radius: 3px;
  backdrop-filter: blur(3px);
  max-height: 320px;
}

@media (max-width: 56.25em) {
  .about__content {
    display: block;
    padding: 30px;
    max-height: 425px;
  }
}

.about__content-text {
  width: 60%;
  max-width: 480px;
}

@media (max-width: 56.25em) {
  .about__content-text {
    width: 100%;
    max-width: 100%;
  }
}

.about__content-text p {
  margin: 0px 0px 15px;
  font-size: 18px;
  line-height: 2.2rem;
}

.about__skillContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  margin-top: 20px;
  overflow: hidden;
}

.about__skill {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(136, 146, 176);
}

.about__skill::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #ac41b6;
  font-size: 14px;
  line-height: 12px;
}

.about__pic {
  height: 300px;
  width: auto;
  border-radius: 50%;
  border: 15px solid rgba(172, 65, 182, 0.063);
  position: relative;
}

.about__pic:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 300px;
  width: auto;
  opacity: 0;
  /* background-color: #ac41b6; */
  background-image: linear-gradient(to right bottom, #ba3cc5, #260429);
  cursor: pointer;
}

.about__pic:hover:after {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  .about__pic {
    margin-top: 80px;
    height: 250px;
  }
}

.about__pic::after {
  top: 20px;
  left: 20px;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(100, 255, 218);
  border-image: initial;
}

.about__pic::before,
.about__pic::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

/* EXPERIENCE */
.experience__company a {
  color: #ac41b6;
}

.experience__details {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: rgb(168, 178, 209);
  margin-bottom: 30px;
}

.experience {
  position: relative;
  max-width: 700px;
  margin: 0px auto;
  padding: 150px 0px;
  /* height: 1000px; */
  /* margin-bottom: 100px; */
}

@media (max-width: 56.25em) {
  .experience {
    padding: 250px 0px 150px;
  }
}

.jobs__container {
  position: relative;
  padding-top: 12px;
  padding-left: 30px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.job {
  top: 0px;
  left: -20px;
  width: 100%;
  height: auto;
  opacity: 1;
  z-index: 2;
  position: relative;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 0.5px solid rgba(249, 179, 255, 0.46);
  padding-left: 50px;
}

.experience__description ul {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.experience__description ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #ac41b6;
  line-height: 20px;
}

.experience__description ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  display: list-item;
}

@media (max-width: 56.25em) {
  .experience__description ul {
    padding: 0 20px;
  }

  .job {
    padding-left: 17px;
  }
}

/* FEATURED PROJECTS */

.featured-title {
  margin-top: 100px;
}

.featured__projects {
  max-width: 1000px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 130px 0px 100px;
}

.featured__project {
  /* display: grid; */
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 150px;
  gap: 10px 10px;
}

@media (min-width: 57em) {
  .featured__project {
    display: grid;
    margin-bottom: 350px;
  }
}

.featured__project:not(:last-child) {
  /* margin-bottom: 400px; */
}

.featured__content-container {
  position: relative;
  grid-row: 1 / -1;
  text-align: right;
  grid-column: 7 / -1;
  animation: moveInRight 1s ease-out;
}

/* @media (max-width: 56.25em) {
  .featured__content-container {
    grid-row: none;
    grid-column: none;
  }
} */

.featured__content-container-left {
  position: relative;
  grid-row: 1 / -1;
  text-align: left;
  grid-column: 1 / 7;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    z-index: 9;
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    z-index: 9;
    transform: translateX(-1rem);
  }
  100% {
    z-index: 9;
    opacity: 1;
    transform: translate(0);
  }
}

.featured__label {
  font-size: 13px;
  font-weight: normal;
  color: #ac41b6;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  margin-top: 10px;
  padding-top: 0px;
}

.featured__project-name {
  font-size: 28px;
  font-weight: 600;
  color: rgb(204, 214, 246);
  margin: 0px 0px 20px;
}

.featured__project-description {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  position: relative;
  z-index: 2;
  background-color: #1c1c32;
  color: rgb(168, 178, 209);
  background-color: #1f1528ce;
  font-size: 18px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 25px;
  border-radius: 3px;
  backdrop-filter: blur(3px);
}

.featured__project-tools {
  display: block;
  flex-wrap: wrap;
  margin: 25px 0px 10px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 0px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(168, 178, 209);
  margin-right: 20px;
  margin-bottom: 7px;
  white-space: nowrap;
}

.featured__img-container {
  grid-column: 1 / 8;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  position: relative;
  z-index: 1;
  /* background-color: rgb(172, 0, 157); */
  grid-row: 1 / -1;
  border-radius: 4px;
  /* transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; */
  animation: float 6s ease-in-out infinite;
}

@media (max-width: 56.25em) {
  .featured__img-container {
    grid-column: 1 / 15;
  }
}

.featured__img-container-right {
  position: relative;
  grid-row: 1 / -1;
  grid-column: 6 / -1;
}

.featured__img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  /* background-color: rgb(10, 25, 47); */
  /* mix-blend-mode: screen; */
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.featured__featuredimg {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  /* mix-blend-mode: multiply; */
  /* filter: grayscale(100%) contrast(1) brightness(90%); */
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.featured__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  /* opacity: 0; */
  transition-delay: 500ms;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

/* PROJECTS */

.projects__title {
  font-size: 32px;
  margin: 0px auto 50px;
  text-align: center;
}

.projects {
  padding: 10px 0px 150px;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 15px;
  margin-top: 30px;
}

@media (max-width: 56.25em) {
  .projects__container {
    grid-template-columns: none;
  }
}

.projects__card {
  width: 350px;
  height: 27rem;
  background-color: #34395138;
  /* backdrop-filter: blur(5px); */
  /* padding: 28px; */
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  position: relative;
  /* border: 0.5px solid #ac41b642; */
}

@media (max-width: 56.25em) {
  .projects__card {
    margin: 0 auto;
  }
}

.projects__img {
  background-size: cover;
  height: 12rem;
  /* background-blend-mode: screen; */

  /* background-image: linear-gradient(to right bottom, #ac41b6, #ac41b6); */
  cursor: pointer;
}

.projects__img img {
  width: 350px;
}

.projects__img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  opacity: 0;
  /* background-color: #ac41b6; */
  background-image: linear-gradient(to right bottom, #ba3cc5, #260429);
  cursor: pointer;
}

.projects__img:hover:after {
  opacity: 0.7;
  cursor: pointer;
}

.projects__content {
  padding: 23px;
}

.projects__card-header {
  /* padding: 20px; */
  /* top: 2%; */
  margin-bottom: 10px;
  /* position: absolute; */
}

.projects__icons {
  float: right;
  font-size: 25px;
  color: rgb(204, 214, 246);
  transition: all 0.3s;
}

.featured__links2 {
  float: left;
}

.fa {
  margin-left: 10px;
}

.projects__icons:hover {
  color: #ac41b6;
  cursor: pointer;
}

.projects__icons:not(:last-child) {
  margin-right: 5px;
}

.projects__card:hover {
  transform: translateY(-0.5rem);
}

.projects__name {
  color: rgb(204, 214, 246);
  font-size: 20px;
}

.projects__tools {
  position: absolute;
  top: 87%;
  font-size: 12px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 12px;
  color: rgb(168, 178, 209);
  line-height: 1.75;
  margin-right: 15px;
}

.projects__description {
  font-size: 15px;
}

.show-more-btn {
  margin-top: 100px;
  margin-left: 500px;
}

.button {
  margin: 100px auto 0;
}

.contact {
  text-align: center;
  max-width: 600px;
  padding: 150px 0px;
  margin: 0px auto 100px;
}

.contact__heading {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  display: block;
  color: #ac41b6;
  font-size: 16px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-weight: normal;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 10px 0px 20px;
}

.contact__title {
  font-size: 60px;
  margin: 0px 0px 20px;
}

.contact a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  margin-top: 50px;
  padding: 20px 30px;
}

/* .footer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  top: 91%;
  background-color: rgba(10, 25, 47, 0.274);
  background-color: #160f1dc7;
  z-index: 11;
  width: 100%;
  height: 80px;
  box-shadow: none;
  transform: translateY(0px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  padding: 0 23%;
  backdrop-filter: blur(5px);
  font-size: 14px;
  text-align: center;
  position: fixed;
} */

.footer__footerContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(21, 2, 27);
  color: rgb(136, 146, 176);
  text-align: center;
  height: auto;
  min-height: 70px;
  padding: 15px;
  width: 100vw;
}

.footer__footerCopy {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 12px;
  line-height: 1;
  margin: 10px 0px;
}

/* GLOW BUTTON */

.animLine {
  background-size: cover;
  /* float: left; */
  margin: 4px;
  /* box-shadow: 0 2px 4px #000; */
  position: relative;
  transform: scale(0.9);
  transition: 0.1s;
}

.animLine:hover {
  transform: scale(1);
  /* box-shadow: 0 2px 4px #000, 0 8px 32px rgba(0, 0, 0, 0.5); */
}

.animLine:hover:before,
.animLine:hover:after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, rgb(249, 179, 255) 40%, transparent 40%);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: 1;
  border-radius: 4px;
  background-size: 200% 4px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #ac41b6);
  background-position: 100% 0;
}

.animLine:hover:before {
  animation: beforeLineAnim 2s linear infinite;
}

.animLine:hover:after {
  /* animation: afterLineAnim 1.5s linear infinite;
  transform: rotate(-90deg);
  background-position: -30% 50%;
  width: 50px;
  height: 160px; */
}

@keyframes beforeLineAnim {
  45%,
  50% {
    background-position: -100% 0;
  }
  45% {
    transform: scale(1);
  }
  50%,
  95% {
    transform: scale(1, -1);
  }
  95% {
    background-position: 80% 0;
  }
}

@keyframes afterLineAnim {
  20%,
  25% {
    background-position: -100% 0;
  }
  20% {
    transform: scale(1) rotate(-90deg);
  }
  25% {
    transform: scale(-1, 1) rotate(-90deg);
  }
  70%,
  75% {
    background-position: 80% 0;
  }
  70% {
    transform: scale(-1, 1) rotate(-90deg);
  }
  75% {
    transform: scale(1, 1) rotate(-90deg);
  }
}

.animLineNoHover {
  background-size: cover;
  /* float: left; */
  margin: 4px;
  /* box-shadow: 0 2px 4px #000; */
  position: relative;
  /* transform: scale(0.9); */
  transition: 0.1s;
}

.animLineNoHover:hover:before,
.animLineNoHover:hover:after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, rgb(249, 179, 255) 40%, transparent 40%);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: 1;
  border-radius: 4px;
  background-size: 200% 4px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #ac41b6);
  background-position: 100% 0;
}

.animLineNoHover:hover:before {
  animation: beforeLineAnim 2s linear infinite;
}

.backlight {
  position: relative;
  width: 30vw;
  height: 30vw;
  /* line-height: 30vw; */
  text-align: center;
  color: #252b37;
  /* background-color: #151823; */
  animation: textColor 10s ease infinite;
}
.backlight:after {
  position: absolute;
  content: "";
  /* top: 5vw; */
  left: 0;
  right: 0;
  z-index: -1;
  height: 150%;
  width: 150%;
  border-radius: 50%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(
    270deg,
    rgba(15, 99, 255, 0.3),
    rgba(255, 15, 195, 0.3)
  );
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

/* TOP BACKLIGHT */

.topbacklight {
  /* position: absolute; */
  top: 10%;
  /* line-height: 30vw; */
  /* text-align: center; */
  color: #252b37;
  /* background-color: #151823; */
  animation: textColor 10s ease infinite;
}

.topbacklight:after {
  position: absolute;
  content: "";
  top: -50%;
  left: -150%;
  right: 0;
  z-index: -1;
  height: 90%;
  width: 250%;
  border-radius: 50%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(
    270deg,
    rgba(255, 15, 175, 0.07),
    rgba(255, 103, 15, 0.07)
  );
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@media (max-width: 56.25em) {
  .backlight:after {
    top: 50vw;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #ff0fc3;
  }
  50% {
    color: #0f63ff;
  }
  100% {
    color: #ff0fc3;
  }
}

/* HAMBURGER */

.navigation__checkbox {
  display: none;
}

#menuToggle {
  display: block;
  position: relative;
  top: -10px;
  left: -115px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;

  background: #ac41b6;
  border-radius: 2px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
  width: 40px;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -2px);
  background: #ac41b6;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  width: 22px;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 2px);
}

#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -60px;
  padding: 50px;
  padding-top: 125px;

  background: #240c27;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.7) -10px 0px 30px -15px;
}

#menu li {
  padding: 30px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media (min-width: 60em) {
  .navigation {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .navigation {
    display: block;
  }
}
/* 
#line1 {
  width: 40px;
}

#line2 {
  width: 34px;
}

#line3 {
  width: 28px;
} */
